//** Fonts **//
$font-stack: 'Red Hat Display', sans-serif;
//** Colors **//
$background-icon-body-font: hsl(225, 100%, 94%);
$background-btn: hsl(245, 75%, 52%);

$background-plan: hsl(225, 100%, 98%);
$shadow: hsl(224, 23%, 55%);
$title: hsl(223, 47%, 23%);